<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2667A86D-2BEA-4C9E-A204-436247953097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6D61457-BEBE-4A9E-BA0B-EA3AD9036065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E5E1BE6-262C-40A6-A12D-BB85C4F9B57A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2667A86D-2BEA-4C9E-A204-436247953097</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6D61457-BEBE-4A9E-BA0B-EA3AD9036065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58B18064-1F3B-4197-B97F-C6010BABDFC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D4A636B-32EF-48A3-BD48-AA0B8E59F1B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mattmc3</string>
	<key>description</key>
	<string>Lossy ASCII transliterations of Unicode text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unidecode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result text copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>58B18064-1F3B-4197-B97F-C6010BABDFC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unidecode</string>
				<key>subtext</key>
				<string>Lossy ASCII transliteration of Unicode text</string>
				<key>text</key>
				<string>unidecode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E5E1BE6-262C-40A6-A12D-BB85C4F9B57A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$1"
echo -n "$query" | /usr/bin/python ./main.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6D61457-BEBE-4A9E-BA0B-EA3AD9036065</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard:0}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2667A86D-2BEA-4C9E-A204-436247953097</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D4A636B-32EF-48A3-BD48-AA0B8E59F1B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D4A636B-32EF-48A3-BD48-AA0B8E59F1B4</key>
		<dict>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>2667A86D-2BEA-4C9E-A204-436247953097</key>
		<dict>
			<key>note</key>
			<string>Use the contents of the clipboard as input</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>58B18064-1F3B-4197-B97F-C6010BABDFC7</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>6E5E1BE6-262C-40A6-A12D-BB85C4F9B57A</key>
		<dict>
			<key>note</key>
			<string>"unidecode" will scrub text containing unicode characters and replace it with a lossy ASCII equivalent</string>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D6D61457-BEBE-4A9E-BA0B-EA3AD9036065</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Run the main.py script, piping the text to it.</string>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>scrubfunction</key>
		<string></string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/mattmc3</string>
</dict>
</plist>
